__pycache__/
archieves/
log/
fig/
core/__pycache__/*
experiments/
data/*
losses/
models/__pycache__/*
models/environment/__pycache__/
models/tools/__pycache__/
models/util/__pycache__/
models/tools/csrc/__pycache__/*
models/pointgpt/__pycache__
models/tools/csrc/build/*
models/tools/csrc/csrc.egg-info/*
models/tools/csrc/dist/*
pretrained/*
*.pyc
*.pth
*.so
MinkCalibNet.py
demo_merge.py
demo_mink.py
demo_resize.py
config.yml
reconstruction.py
RLCalib.py
test_*.py
debug_*
tmp_*
*.pt